/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=55B1o0kFhyPl8FVsbEaHKpKMbjN */

/* Feel free to copy&paste color codes to your application */

/* As hex codes */

.color-primary-0 {
    color: #FB000D
}

/* Main Primary color */
.color-primary-1 {
    color: #FC565E
}

.color-primary-2 {
    color: #FC1E29
}

.color-primary-3 {
    color: #CA000A
}

.color-primary-4 {
    color: #9B0008
}

.color-secondary-1-0 {
    color: #ffffbe;
}

/* Main Secondary color (1) */
.color-secondary-1-1 {
    color: #FFDF57
}

.color-secondary-1-2 {
    color: #FFD51E
}

.color-secondary-1-3 {
    color: #CDA700
}

.color-secondary-1-4 {
    color: #9E8000
}

.color-secondary-2-0 {
    color: #360EB6
}

/* Main Secondary color (2) */
.color-secondary-2-1 {
    color: #7054CB
}

.color-secondary-2-2 {
    color: #502CC6
}

.color-secondary-2-3 {
    color: #290A8D
}

.color-secondary-2-4 {
    color: #1E066C
}

/* As RGBa codes */

.rgba-primary-0 {
    color: rgba(251, 0, 13, 1)
}

/* Main Primary color */
.rgba-primary-1 {
    color: rgba(252, 86, 94, 1)
}

.rgba-primary-2 {
    color: rgba(252, 30, 41, 1)
}

.rgba-primary-3 {
    color: rgba(202, 0, 10, 1)
}

.rgba-primary-4 {
    color: rgba(155, 0, 8, 1)
}

.rgba-secondary-1-0 {
    color: rgba(255, 207, 0, 1)
}

/* Main Secondary color (1) */
.rgba-secondary-1-1 {
    color: rgba(255, 223, 87, 1)
}

.rgba-secondary-1-2 {
    color: rgba(255, 213, 30, 1)
}

.rgba-secondary-1-3 {
    color: rgba(205, 167, 0, 1)
}

.rgba-secondary-1-4 {
    color: rgba(158, 128, 0, 1)
}

.rgba-secondary-2-0 {
    color: rgba(54, 14, 182, 1)
}

/* Main Secondary color (2) */
.rgba-secondary-2-1 {
    background-color: #E1F5FE;
}

.same-navbar {
    background-color:red;
}

.same-footer {
    background-color: red;
}

.background-page{
    background-color: rgba(10, 100, 160, 1);
}
.center-panel {
    background-color: #FFFFFF;
}

.main-footer{
    color:#FFFFFF;
}

.background-secondary {

    background-color: rgba(20, 160, 200, 1);
}
.rgba-secondary-2-2 {
    color: rgba(80, 44, 198, 1)
}

.rgba-secondary-2-3 {
    color: rgba(41, 10, 141, 1)
}

.rgba-secondary-2-4 {
    color: rgba(30, 6, 108, 1)
}

.committee-header{
    text-align:center;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}