<div class="container background-page">
    <div class="row">
        <md-whiteframe class="md-whiteframe-z4" layout>
            <div class="container center-panel">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-4">
                        <h3><b>President</b></h3>
                        <hr/>
                        <h4>Gregory Zaborski</h4>
                        <h6><a href="mailto:gzaborskijr@gmail.com">gzaborskijr@gmail.com</a></h6>
                        <hr/>
                        <md-content class="md-padding">
                            <b>About Me</b>:
                            <p>Gregory is a Marine Corps combat student veteran at Saddleback College, Mission Viejo. He is an active member in his community and school including Helping Hand, Bridge to Engineering, and Student Veterans of America (SVA). As the President of SAME, Gregory has numerous responsibilities and plays an integral role in establishing goals and strategies for the Chapter. He resides over various departments that make up SAME, orchestrating and delegating their various duties, tasks, and responsibilities so that the overall functioning of the Chapter remains progressive. Some of the responsibilities he holds include: overseeing budgets, ensuring resources are properly allocated, and conduct meetings.</p>
                        </md-content>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <h3><b>Vice President</b></h3>
                        <hr/>
                        <h4>Lucas Johnson</h4>
                        <h6><a href="mailto:lucaskjohn@gmail.com">lucaskjohn@gmail.com</a></h6>
                        <hr/>
                        <md-content class="md-padding">
                            <b>About Me</b>
                        </md-content>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <h3><b>Secretary/Treasurer</b></h3>
                        <hr/>
                        <h4>Nick Abey</h4>
                        <h6><a href="mailto:Nickabey119@gmail.com">Nickabey119@gmail.com</a></h6>
                        <hr/>
                        <md-content class="md-padding">
                            <b>About Me</b>:
                            <p>Nick Abey grew up in Houston, TX, but moved to Orange County in 2008. He is 25 years old pursuing a Petroleum Engineering Degree and will be transferring next Fall.</p>
                        </md-content>
                    </div>
                </div>
            </div>
        </md-whiteframe>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <md-whiteframe class="md-whiteframe-z4" layout>
            <div class="container center-panel">
                <h2 class="committee-header"><span>Committee Chairs</span></h2>
                <hr class="featurette-divider">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                        <h3><b>Program (Monthly Speaker)</b><br>Committee Chair</h3>
                        <hr/>
                        <h4>Alex Helms</h4>
                        <h6><a href="mailto:ahelms0@saddleback.edu">ahelms0@saddleback.edu</a></h6>
                        <hr/>
                        <md-content class="md-padding">
                            <b>About Me</b>:
                            <p>Alexander Helms is the Program Coordinator for the SAME Saddleback Post. He is currently pursuing a degree in Astronautical Engineering with high hopes for furthering man's pursuit of space.</p>
                        </md-content>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                        <h3><b>Mentorship</b><br>Committee Chair</h3>
                        <hr/>

                        <h4>Leah Jamison</h4>
                        <h6><a href="leahjamison44@gmail.com">leahjamison44@gmail.com</a></h6>
                        <hr/>
                        <img width="40%" height="20%" ng-src="../img/people/10.2015_leah_jamison_001.jpg" >
                        <hr/>

                        <!-- -->
                        <md-content class="md-padding">
                            <b>About Me</b>:<p>Leah grew up in Orange County and is a Civil Engineering major with hopes to transfer Fall 2016. She is a mentor at Mathobotix, teaching K-12 students about robotics and computer science. As our Mentorship Committee Chair, Leah hopes to use her experience to provide similar mentorship to fellow Saddleback students.</p>
                        </md-content>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                        <h3><b>Student Retention</b><br/>Student Committee Chair</h3>
                        <hr/>
                        <h4>Andy Nelson</h4>
                        <h6><a href="andy.g.nelson@gmail.com">andy.g.nelson@gmail.com</a></h6>
                        <hr/>
                        <md-content class="md-padding">
                            <b>About Me</b>:
                        </md-content>
                    </div>
                </div>
                <hr class="featurette-divider">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                        <h3><b>Fundraising</b><br>Committee Chair</h3>
                        <hr/>
                        <h4>Dylon Dickinson</h4>
                        <h6><a href="mailto:Ddickson0@saddleback.edu">Ddickson0@saddleback.edu</a></h6>
                        <hr/>
                        <md-content class="md-padding">
                            <b>About Me</b>:
                        </md-content>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                        <h3><b>Student Membership</b><br>Committee Chair</h3>

                        <hr/>
                        <h4>Dan Erik Karlsson</h4>
                        <h6><a href="mailto:erikdkarlsson8@gmail.com"> erikdkarlsson8@gmail.com</a></h6>
                        <hr/>
                        <img width="45%" height="40%" ng-src="../img/people/10.2015_dan_karlsson_001.jpg">
                        <hr/>
                        <md-content class="md-padding">
                            <b>About Me</b>:<p>Computer Science Major, and software developer intern at Jet Propulsion Laboratories, JPL/NASA, Pasadena. Transferring to University of California, Irvine next fall. Responsible for the Saddleback SAME Web Application, updating and maintaining the Saddleback's member roster and information.</p>
                        </md-content>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                        <h3><b>Activities / Competition</b><br>Committee Chair</h3>
                        <hr/>
                        <h4>David Turney</h4>
                        <h6><a href="dayvidturnkee@gmail.com">dayvidturnkee@gmail.com</a></h6>
                        <hr/>
                        <md-content class="md-padding"><b>About Me</b>:
                        </md-content>
                    </div>
                </div>
                <hr class="featurette-divider">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                        <h3><b>Student Outreach and Streamers</b><br> Committee Co-Chair</h3>
                        <hr/>
                        <h4>Jeremy Laster</h4>
                        <h6><a href="mailto:hlaster0317@gmail.com">hlaster0317@gmail.com</a></h6>
                        <hr/>
                        <md-content class="md-padding">
                            <b>About Me</b>:
                        </md-content>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                        <h3><b>Student Outreach and Streamers</b><br> Committee Co-Chair</h3>
                        <hr/>
                        <h4>Chad Province</h4>
                        <h6><a href="mailto:chadj.province@gmail.com">chadj.province@gmail.com</a></h6>
                        <hr/>
                        <md-content class="md-padding">
                            <b>About Me</b>:
                        </md-content>
                    </div>
                </div>
            </div>
        </md-whiteframe>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <md-whiteframe class="md-whiteframe-z4" layout>
            <div class="container center-panel">
                <h2>Faculty</h2>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>Larry Perez</h3>
                        <h5>Math Department</h5>
                        <h6><b>E-mail:</b><a href="mailto:lperez@saddleback.edu"> LPerez@saddleback.edu</a></h6>
                        <hr/>
                        <img width="60%" height="50%" ng-src="../img/people/10.2015_larry_perez_003.jpg">
                        <hr/>

                        <p>
                            <b>About Me</b>:Larry Perez joined Saddleback College as fulltime faculty in the Department of Mathematics in August, 1999. He served 6 years in the US Navy as a Reactor Operator aboard a Los Angeles Class Fast Attack Submarine prior to his college education. Larry was born and raised here in Southern California in the city of Pico Rivera. He and his wife Georgette both teach mathematics.

                        <p>B.S., EE, California State University, Fullerton, 1996</p>

                        <p>M.A., Applied Math, California State University, Fullerton, 1998</p>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>Katlin Choi</h3>
                        <h5>Specialist / Project Specialist Programs</h5>

                        <h6><b>E-mail:</b><a href="mailto:kchoi@saddleback.edu"> kchoi@saddleback.edu</a></h6>
                        <hr/>
                        <img width="50%" height="40%" ng-src="../img/people/10.2015_katlin_choi_001.jpg">
                        <hr/>


                        <p><b>About Me</b>

                        <p>Program Coordinator, DOL-funded Bridge 2 Engineering Program</p>

                        Katlin has over a decade of professional experience in student and community affairs in both higher education and nonprofit sectors. Prior to working at Saddleback College, she was a U.S. Dept of State Fulbright Grantee at the University of Macau. Katlin’s previous experience includes serving as the Community Partnerships Coordinator at CSULB Center for Community Engagement and Development & Community Partnerships Coordinator at College Summit where she cultivated high school and community partnerships and managed multiple student programs. Katlin holds a UCLA bachelor’s degree in Political Studies and a specialization in Urban Studies and a CSU Dominguez Hills master’s degree in Negotiation, Conflict Resolution and Peacebuilding.</p>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>David Dixon </h3>
                        <h5>Physics Department</h5>

                        <p><b>E-mail:</b><a href="mailto:ddixon@saddleback.edu">DDixon@saddleback.edu</a></p>

                        <p><b>About Me</b>:</p>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>Patrick Quigley</h3>
                        <h5>Math Department</h5>

                        <p><b>E-mail:</b><a href="mailto:pquigley@saddleback.edu">PQuigley@saddleback.edu</a></p>

                        <p><b>About Me</b>:</p>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>Lisa Silveira</h3>
                        <h5>Math Department</h5>

                        <p><b>E-mail:</b><a href="mailto:lsiveira@saddleback.edu">lsiveira@saddleback.edu</a></p>

                        <p><b>About Me</b>:</p>
                    </div>

                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>Chris McDonald</h3>
                        <h5>Dean of Math, Science and Engineering Dept.</h5>

                        <p><b>E-mail:</b><a href=" "> </a></p>

                        <p><b>About Me</b>:</p>
                    </div>
                </div>
                <hr/>
                <h2>SAME OC Post BOD Advisors</h2>

                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>Scott Pringle</h3>

                        <p>
                            <b>E-mail:</b><a href="mailto:lperez@saddleback.edu">scott.pringle@errg.com</a>
                        </p>

                        <p><b>About Me</b>:</p>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>Jeff Davis</h3>

                        <p><b>E-mail:</b><a href="mailto:jdavis@kleinfelder.com">jdavis@kleinfelder.com</a></p>

                        <p><b>About Me</b>:</p>
                    </div>
                </div>
            </div>
        </md-whiteframe>
        <br/>
    </div>
</div>