<div class="container">
    <div class="row">

        <md-whiteframe class="md-whiteframe-z4 panel" layout>

            <table class="table table-hover">
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Event</th>
                </tr>
                <tbody>
                <tr>
                    <td>Friday, September 18, 2015</td>
                    <td>2-3:30PM</td>
                    <td>SM 129</td>
                    <td>
                        Peter Mac, Process Engineer at Fluor Enterprises, Inc.

                    </td>
                </tr>
                <tr>
                    <td>Friday, October 9, 2015</td>
                    <td>2-3:30PM</td>
                    <td>SM 129</td>
                    <td>Bill O’Toole, California Resources Corporation</td>
                </tr>
                <tr>
                    <td>Saturday, October 24, 2015</td>
                    <td>8-1PM</td>
                    <td>Long Beach</td>
                    <td>California Resources Corporation field trip</td>
                </tr>
                <tr>
                    <td>*Friday, November 13, 2015*</td>
                    <td>10:30- 12:30PM</td>
                    <td>SM 129**</td>
                    <td>Michael Williams, P.E., California Resources Corporation</td>
                </tr>
                <tr>
                    <td>Thursday, November 19, 2015</td>
                    <td>7:30-2PM</td>
                    <td>Costa Mesa</td>
                    <td>SAME Federal Business Opportunities Symposium</td>
                </tr>
                <tr>
                    <td>Friday, February 19, 2016</td>
                    <td>2-3:30PM</td>
                    <td> SM 129</td>
                    <td>Guest Speaker TBD</td>
                </tr>
                <tr>
                    <td>Friday, March 11, 2016</td>
                    <td>2-3:30PM</td>
                    <td>SM 129</td>
                    <td>Guest Speaker TBD</td>
                </tr>
                <tr>
                    <td>Friday, April 8, 2016</td>
                    <td>2-3:30PM</td>
                    <td>SM 129</td>
                    <td>Guest Speaker TBD</td>
                </tr>
                <tr>
                    <td>Friday, May 6, 2016</td>
                    <td>2-3:30PM</td>
                    <td>SM 129</td>
                    <td>Guest Speaker TBD</td>
                </tr>
                </tbody>
            </table>

        </md-whiteframe>

    </div>
</div>