<div class="container background-page">
    <div class="row">
        <md-whiteframe class="md-whiteframe-z4" layout>
            <div class="container center-panel">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-4">
                        <h3>President</h3>
                        <hr/>
                        <h4>Greg Zeborski</h4>
                        <hr/>
                        <md-content class="md-padding">
                            <b>About Me</b>:At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                        </md-content>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <h3>Vice President</h3>
                        <hr/>
                        <h4>Lucas Johnson</h4>
                        <hr/>
                        <md-content class="md-padding">
                            <b>About Me</b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </md-content>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <h3>Secretary/Treasurer</h3>
                        <hr/>
                        <h4>Nick Abey</h4>
                        <hr/>
                        <md-content class="md-padding">

                                <b>About Me</b>:Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?

                        </md-content>
                    </div>
                </div>
            </div>
        </md-whiteframe>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <md-whiteframe class="md-whiteframe-z4" layout>
            <div class="container center-panel">
                <h2 class="committee-header"><span>Committee Chairs</span></h2>
                <hr class="featurette-divider">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                        <h3>Program (Monthly Speaker) Committee Chair</h3>
                        <hr/>
                        <h4>Alex Helms</h4>
                        <h6>ahelms0@saddleback.edu</h6>
                        <hr/>
                        <md-content class="md-padding"><b>About Me</b>:
                                                                      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                        </md-content>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                        <h3>Membership Committee Chair</h3>
                        <hr/>
                        <h4>Leah Jamison</h4>
                        <h6>leahjamison44@gmail.com</h6>
                        <hr/>
                        <md-content class="md-padding"><b>About Me</b>:Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </md-content>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                        <h3>Student Retention Committee Chair</h3>
                        <hr/>
                        <h4>Andy Nelson</h4>
                        <h6>andy.g.nelson@gmail.com</h6>
                        <hr/>
                        <md-content class="md-padding"><b>About Me</b>:At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                        </md-content>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <h3>Fundraising Committee Chair</h3>
                        <hr/>
                        <h4>Dylon Dickinson</h4>
                        <h6>Ddickson0@saddleback.edu</h6>
                        <hr/>
                        <md-content class="md-padding"><b>About Me</b>:Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </md-content>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <h3>Student Membership Committee Chair</h3>
                        <hr/>
                        <h4>Erik Karlsson</h4>
                        <h6>erikdkarlsson8@gmail.com</h6>
                        <hr/>
                        <md-content class="md-padding"><b>About Me</b>: At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                        </md-content>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <h3>Activities / Competition Committee Chair</h3>
                        <hr/>
                        <h4>David Turney</h4>
                        <h6>dayvidturnkee@gmail.com</h6>
                        <hr/>
                        <md-content class="md-padding"><b>About Me</b>:
                                                                      At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                        </md-content>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <h3>Student Outreach and Streamers Co-Chair</h3>
                        <hr/>
                        <h4>Jeremy Laster</h4>
                        <h6>hlaster0317@gmail.com</h6>
                        <hr/>
                        <md-content class="md-padding"><b>About Me</b>:Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </md-content>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <h3>Student Outreach and Streamers Co-Chair</h3>
                        <hr/>
                        <h4>Chad Province</h4>
                        <h6>None available</h6>
                        <hr/>
                        <md-content class="md-padding"><b>About Me</b>: At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                        </md-content>
                    </div>
                </div>
            </div>
        </md-whiteframe>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <md-whiteframe class="md-whiteframe-z4" layout>
            <div class="container center-panel">
                <h2>Faculty</h2>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>Larry Perez</h3>
                        <h5>Math Department</h5>

                        <p>
                            <b>E-mail:</b><a href="mailto:lperez@saddleback.edu">LPerez@saddleback.edu</a>
                        </p>

                        <p><b>About Me</b>:blah blah blah</p>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>David Dixon </h3>
                        <h5>Physics Department</h5>

                        <p><b>E-mail:</b><a href="mailto:ddixon@saddleback.edu">DDixon@saddleback.edu</a></p>

                        <p><b>About Me</b>:blah blah blah</p>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>Patrick Quigley</h3>
                        <h5>Math Department</h5>

                        <p><b>E-mail:</b><a href="mailto:pquigley@saddleback.edu">PQuigley@saddleback.edu</a></p>

                        <p><b>About Me</b>:blah blah blah</p>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>Lisa Silveira</h3>
                        <h5>Math Department</h5>

                        <p><b>E-mail:</b><a href="mailto:lsiveira@saddleback.edu">lsiveira@saddleback.edu</a></p>

                        <p><b>About Me</b>:blah blah blah</p>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>Katlin Choi</h3>
                        <h5>Specialist / Project Specialist Programs</h5>

                        <p><b>E-mail:</b><a href="mailto:kchoi@saddleback.edu">kchoi@saddleback.edu</a></p>

                        <p><b>About Me</b>:blah blah blah</p>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>Chris McDonald</h3>
                        <h5>Dean of Math, Science and Engineering Dept.</h5>

                        <p><b>E-mail:</b><a href=" "> </a></p>

                        <p><b>About Me</b>:blah blah blah</p>
                    </div>
                </div>
                <hr/>
                <h2>SAME OC Post BOD Advisors</h2>

                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>Scott Pringle</h3>

                        <p>
                            <b>E-mail:</b><a href="mailto:lperez@saddleback.edu">scott.pringle@errg.com</a>
                        </p>

                        <p><b>About Me</b>:blah blah blah</p>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <h3>Jeff Davis</h3>

                        <p><b>E-mail:</b><a href="mailto:jdavis@kleinfelder.com">jdavis@kleinfelder.com</a></p>

                        <p><b>About Me</b>:blah blah blah</p>
                    </div>
                </div>
            </div>
        </md-whiteframe>
        <br/>
    </div>
</div>