<div class="container" ng-controller="galleryCtrl">
    <div class="row">
        <md-whiteframe class="md-whiteframe-z4" layout>


            <md-content class="container">

                <div class="row">
                    <div ng-repeat="photo in photoList">
                        <div class="col-xs-12 col-sm-5 col-md-3 col-offset-1">
                            <img class="img-rounded img-responsive " ng-src="{{photo}}">
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div ng-repeat="photo in meetings">
                        <div class="col-xs-12 col-sm-5 col-md-3 col-offset-1">
                            <img class="img-rounded img-responsive" ng-src="{{photo}}">
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div ng-repeat="photo in golfTourney">
                        <div class="col-xs-12 col-sm-5 col-md-3 col-offset-1">
                            <img class="img-rounded img-responsive" ng-src="{{photo}}">
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div ng-repeat="photo in studyGroup">
                        <div class="col-xs-12 col-sm-5 col-md-3 col-offset-1">
                            <img class="img-rounded img-responsive" ng-src="{{photo}}">
                        </div>
                    </div>
                </div>
                <br>
            </md-content>
        </md-whiteframe>
    </div>
</div>