<md-dialog class="md-accent" aria-label="Registration Result" >
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ user.name + "successfully registered" || "Incorrect Input for Password or Username"}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div>
                <p>
                    Registration Unsuccessful.
                </p>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">


            <md-button ng-click="answer('home')">
                Back
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('Try again')" style="margin-right:20px;">
                Try Again
            </md-button>
        </div>
    </form>
</md-dialog>